.img-container {
    &.chau {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        height: calc(100vh - 120px);
        margin: 0 auto;
        overflow: hidden;
        width: 100%;
        h3 {
            margin-left: 100px;
        }
        .cat {
            position: fixed !important;
            bottom: 0;
            right: 100px;
            width: 450px !important;
        }
    }
}