.img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 120px);
    margin: 0 auto;
    overflow: hidden;
    width: 100%;
    &.holi {
        background-color: #FFADB9;
        .bear {
            width: 450px !important;
        }
    }
}